html { _background: url(j); } /**/ 
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, legend, input, textarea, p, th, td { margin: 0; padding: 0; }
a, input, button, select, textarea { outline: none }
img { border: 0; vertical-align: middle; }
em { font-style: normal }
textarea { resize: none; }
body { font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, Helvetica, Arial, sans-serif;  }
html { overflow-x: hidden; zoom: 1; }
a { text-decoration: none; color:#000 }
/*a:hover { text-decoration: underline }*/
ol, ul { list-style: none }
h1, h2, h3, h4, h5 { font-size: 14px; }
input, label, select { vertical-align: middle; font: 100% Tahoma }
.clearfix:before, .clearfix:after { content: "."; display: table; height: 0; font-size: 0; line-height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { *zoom:1;}
.fl { float: left; }
.fr { float: right; }



.w120{width:1200px; margin: auto; clear:both; overflow:hidden}

.cr_blu{ color:#015293}

.mgt10{margin-top:10px}
.mgt40{margin-top:40px}
.none{ display:none}



.top_bg { height: 186px; background: url(../images/bg_01.png) center top; }
.top_box { position: relative; }
.tp_l { float:left; padding-top: 20px; }
.tp_r { float:right }
.tp_list { margin-top: 33px; overflow: hidden; }
.tp_list li { background-repeat:no-repeat; width: 74px; display: block; float: left; font-size: 14px; text-decoration: none; color: #333; text-align: center; }
.tp_list> li.on > a, .tp_list > li > a:hover { font-weight: bold; color:#015293 }
.sub_menu { display: none; position: absolute; left: 0; top: 104px; width: 100%; height: 76px; background: url(../images/nav_hover.png) top center repeat-x; }
.sub_menu span { padding-top: 30px; display: block; text-align: right; padding-right: 120px; }
.sub_menu span a { display: inline-block; float: none; padding: 0 10px; font-size: 18px; font-weight: bold; color: #555; }
.sub_menu .point { width: 31px; background:url(../images/nav_hover_point.png) no-repeat center bottom; position:absolute; top: 0px; height: 14px; }
.sub_menu .p1 { right: 390px; }
.sub_menu .p2 { right: 316px; }
.sub_menu .p3 { right: 243px; }
.sub_menu .p4 { right: 169px; }
.sub_menu .p5 { right: 93px; }
.sub_menu .p6 { right: 20px; }
.tp_list i { height: 50px; background-image:url(../images/icons1.png); display:block }
.tp_list .ic1 { background-position: 0 0; }
.tp_list .ic2 { background-position: -72px 0; }
.tp_list .ic3 { background-position: -144px 0; }
.tp_list .ic4 { background-position: -216px 0; }
.tp_list .ic5 { background-position: -288px 0; }
.tp_list .ic6 { background-position: -360px 0; }
.tp_list .ic7 { background-position: -432px 0; }
.on .ic1, .tp_list a:hover .ic1 { background-position: 0 -98px; }
.on .ic2, .tp_list a:hover .ic2 { background-position: -72px -98px; }
.on .ic3, .tp_list a:hover .ic3 { background-position: -144px -98px; }
.on .ic4, .tp_list a:hover .ic4 { background-position: -216px -98px; }
.on .ic5, .tp_list a:hover .ic5 { background-position: -288px -98px; }
.on .ic6, .tp_list a:hover .ic6 { background-position: -360px -98px; }
.on .ic7, .tp_list a:hover .ic7 { background-position: -432px -98px; }
.search { margin: 22px 0 0 176px;;/* text-align: right; */ background: url(../images/search_bg.png); width: 320px; height: 32px; clear: both; line-height: 32px; }
.search .sch_btn { margin: 4px; background: url(../images/search_btn.png); width: 23px; height: 23px; float: right }
.search input[type="text"] { background: none; border: none; width: 263px; padding-left: 12px; }
.bg2 { background:url(../images/bg_02.png) no-repeat top center; width:100%; position: absolute; top:180px; height:457px; ; z-index:-1 }

.position{ font-size: 14px;height:50px; line-height:50px;}
.position a{font-size: 14px;}
.links { height:57px; line-height:57px; font-size:20px; border-top:5px solid #015293; border-bottom:1px solid #e3e3e3; position:relative}

.lk_nav{
    font-size: 16px;
    float: left;
    padding-left: 20px;
}
.lk_nav li{ margin-right: 22px;float:left; padding-right: 22px; background: url(../images/sanjiao.gif) no-repeat right center; }
.lk_box{display:none;
    padding: 10px 1%;
    border-top: 1px solid #E5E5E5;
    background-color: #fff;
    width: 98%;
    left: 0;
    position: absolute;
    top: 44px;
}
.lk_box a{
    color: #737373;
    line-height: 32px;
    width: 20%;
    display: block;
    margin: 0;
    float: left;
}
.lk_box a:hover{ color:#F03}
.foot { }
.foot .links_x { padding-left: 4px; margin-left: 22px; line-height: 35px; /* padding-bottom: 4px; */ border-bottom: 1px solid #E3E3E3; }
.foot .links_x a { margin: 0 12px; font-size: 14px; color:#015293; }
.foot .pxt { margin-top: 6px; padding: 0 12px; margin-left: 22px; line-height: 30px; background-color: #f5f5f5;     position: relative;}



.paage{
    clear: both;
    padding-bottom: 12px;
    text-align: center;
}
.paage a{ line-height: 32px;padding: 0 14px;display:inline-block;border: 1px solid #E5E5E5;margin: 0 3px;}
.paage a.on{
    background-color: #008ac8;
    color: #fff;
}


.linex{ margin: auto;
    width: 90%;
    height: 1px;
    border-top: 1px #E5E5E5 dashed;
    padding-top: 12px;
    margin-top: 12px;
}

.tt_f{ height:38px; line-height: 34px;border-bottom: 1px solid #bbb;}
.tt_f h3{ display: inline-block;font-size:21px; padding:0 8px; border-bottom: 4px solid #015293;font-weight: normal;}
.red{ color:#CC0003}
