
.tpt1 { font-weight: bold; color: #c51507; line-height: 50px; font-size: 30px; text-align: center; padding-top: 20px; }
.tpt2 { font-size: 16px; }
.tpt2 .txt { line-height: 30px; height: 55px; width:1117px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden; color:#015293 }
.tpt2 .link { line-height: 30px; float: right; }
.box_t_news { border: 1px solid #e5e5e5; border-bottom: 3px solid #a0a7ab; background-color: #fff; width: 546px; height: 380px; }
.new_nav {  height: 22px;overflow: hidden; margin: 22px 0 0 22px; }
.new_nav li { overflow: hidden;padding: 0 22px;/* color: #015293; *//* width: 126px; */ float:left; text-align:center; font-size:21px; line-height:22px; height:22px; }
.new_nav li.on {
    border-left: 3px #015293 solid;
    /* margin: 12px; */
    /* width: 123px; */
    color: #015293;
    font-weight: bold;
    }
.news_list { padding: 22px 17px 0; }
.news_list ul { }
.news_list li { line-height: 34px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden; }
.news_list li .date { color: #7f7f7f; float:right }
.news_list a { font-size:16px; }
.news_list li.hot { height: 46px; line-height: 46px; }
.news_list li.hot a { float: left; font-size:18px; display: block; color:#015293; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden; width: 80%; font-weight:bold; }
.news_list li.hot img { margin-top: 14px; float: left; }
.more_box { margin-top: 12px; text-align: right; }

.ad_box {  position:relative; height:100px;}
.ad_box .btn_l{ position:absolute;top:0;left:0;    z-index: 111;}
.ad_box .btn_r{ position:absolute;top:0;right:0;    z-index: 111;}
.ad_cnt{display: inline-block;background:#eef7ff; line-height:100px; height:100px;    padding: 0 32px; /* float:left */}
.ad_cnt img { margin-right: 3px;margin-left: 2px; }
.move_box{ position: absolute;   position: absolute; top:0; left:0;white-space: nowrap;}


.box_b_l { width:633px; height: 320px; border: 1px solid #e5e5e5; }
.box_b_r { width:544px; height: 320px; background-color:#eef7ff; border: 1px solid #e5e5e5; }
.news_list2 { padding: 22px 17px 0; }
.news_list2 li { line-height: 34px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden; }
.news_list2 li .date { color: #7f7f7f; float:right }
.news_list2 a { font-size:16px; }
.tt { margin: 22px 0 0 22px; color: #015293; font-weight: bold; font-size: 21px; line-height: 22px; height: 22px; }
.chos_box { margin-top: 8px; margin-left: 22px; line-height: 40px; }
.chos_box input[type="text"] { border: 1px solid #e5e5e5; line-height: 30px; height: 30px; padding: 0 4px; }
.chos_box select { height: 30px; line-height: 30px; padding: 0 4px; border: 1px solid #e5e5e5; }
.chos_box .search_btn { height: 30px; display: inline-block; background-color: #015293; color: #fff; line-height: 30px; padding: 0 14px; }
.box_b_r { }
.list_ico1 { padding: 20px 0 0 20px; }
.list_ico1 li { background:url(../images/ico_bg.png); width:73px; height:73px; float:left; text-align:center; margin: 20px 13px; }
.list_ico1 i { display: block; height: 42px; line-height: 42px; }
.list_ico1 p { font-size: 16px; }
.list_ico1 i img { height:26px; }
.box_c_r { border: 1px solid #e5e5e5; width:546px; height: 344px; }
.box_c_l { border: 1px solid #e5e5e5; width:380px; height: 344px; }
.box_c_c { margin-left: 20px; border: 1px solid #e5e5e5; width:226px; height: 344px; }
.btt { padding: 22px; }
.btt b { padding-left: 12px; font-size: 21px; line-height: 22px; height: 22px; border-left: 3px #015293 solid; /* width: 123px; */
    color: #015293; display: block; }
.link3 { overflow: hidden; padding: 4px 0 0 6px; }
.link3 a { margin: 0 2px; background:url(../images/link3_bg.png); display:block; float:left; width:70px; height:28px; text-align:center; font-size:14px; color:#fff; line-height: 28px; }
.list_ico2 { overflow: hidden; padding: 14px 0 0 10px; }
.list_ico2 li { width:73px; /* height:73px; */ float:left; text-align:center; margin: 12px 8px; }
.list_ico2 i { display: block; height: 59px; line-height: 59px; background:url(../images/ico_xbg.png) no-repeat center center }
.list_ico2 p { font-size: 14px; line-height: 30px; }
.list_ico2 i img { height:24px; }
.jl_list { text-align: center; }
.jl_list li { background-color: #015293; color: #fff; border: 10px solid #eef7ff; margin: 6px 20px; border-radius: 5px; line-height: 33px; font-size: 16px; }
.jl_list li a { color: #fff; }
.lianxi { padding-top: 10px; margin: 14px 15px; border-top: 1px solid #E5E5E5; }
.lianxi p { line-height: 20px; font-size: 14px; padding-bottom: 10px; color:#3a3a3a }
.list_ico3 { float: left; padding: 0px 0 0 40px; width: 360px; }
.list_ico3 li { clear: both; padding-left: 12px; background:#eef7ff; height:40px;  /* text-align:center; */ margin-bottom: 15px; overflow: hidden; }
.list_ico3 i { text-align: center; width: 30px; display: inline-block; height: 40px; line-height: 40px; }
.list_ico3 p { padding-left: 10px; display: inline-block; font-size: 16px; }
.list_ico3 i img { height:26px; }
.list_ico4 { margin-top: -10px; float: right; overflow: hidden; padding: 0 34px 0 0; }
.list_ico4 li { width:73px; /* height:73px; */ /* float:left; */ text-align:center; margin-bottom: 8px; }
.list_ico4 i { display: block; height: 59px; line-height: 59px; background:url(../images/ico_xbg.png) no-repeat center center }
.list_ico4 p { font-size: 14px; line-height: 30px; }
.list_ico4 i img { height:24px; }
.links { height:57px; line-height:57px; font-size:20px; border-top:5px solid #015293; border-bottom:1px solid #e3e3e3; position:relative}

.share { z-index: 99999; width: 90px; top: 18%; position: fixed; right: 5px; padding-bottom:11px }
.share img { margin-bottom: 10px; border: 1px solid #E3E3E3; }
.weather { text-align:center; padding-top:14px }
.share2{z-index: 99999; top: 18%; position: fixed; left: 5px; padding-bottom:11px}

.close{ background-image:url(../images/close.gif); width:11px; height:11px; position:absolute; right:0; bottom:0}
.close:hover{ background-position: 11px 0}
.lk_nav{
    font-size: 16px;
    float: left;
    /* display: inline-block; */
    padding-left: 20px;
}
.lk_nav li{ margin-right: 22px;float:left; padding-right: 22px; background: url(../images/sanjiao.gif) no-repeat right center; }
.lk_box{display:none;
    padding: 10px 1%;
    border-top: 1px solid #E5E5E5;
    background-color: #fff;
    width: 98%;
    left: 0;
    position: absolute;
    top: 44px;
}
.lk_box a{
    color: #737373;
    line-height: 32px;
    width: 20%;
    display: block;
    margin: 0;
    float: left;
}
.lk_box a:hover{ color:#F03}

.new_nav_s{

    font-weight: normal;
    height: 34px;
    position: absolute;
    right: -240px;
    top: 0;
}
.new_nav_s dd{ font-size: 16px;margin-right: 22px;float:left; background-image: url(../images/btn3_bg.png); width:89px; height:34px; line-height:28px; text-align:center; color:#015293}
.new_nav_s dd.on{ background-position: 90px 0; color:#fff}
.new_nav_s{}
.new_nav_s{}

.jianc {overflow:inherit}

.jianc li.on{
    overflow: inherit;
}



.list_ico5{padding: 20px 0 0 20px;}
.list_ico5 li{ background:url(../images/ico_bg2.png); width:218px; height:73px; float:left; text-align:center; margin: 20px 13px;}
.list_ico5 i{ display: block;height: 42px;line-height: 42px;}	
.list_ico5 p{font-size: 16px;}		
.list_ico5 i img{ height:26px;}	

/**/


.navx{ margin-left:10px}
.navx li{ border:1px solid #e5e5e5; float:left; margin-left:4px; font-size:18px; color:#015293; width:111px; text-align:center; line-height:52px; height:52px; background:#fff}
.navx li.on{ background:#015293; color:#fff}
.box_f{ padding: 22px 24px;border: 1px solid #e5e5e5;background:#fff; overflow:hidden;margin-top: -1px;    min-height: 300px;}
.tt_f{ height:38px; line-height: 34px;border-bottom: 1px solid #e5e5e5;}
.tt_f h3{ display: inline-block;font-size:21px; padding:0 8px; border-bottom: 4px solid #015293;}

.list_f h4{ line-height:48px;}
.txt_f{text-indent: 2em;font-size: 16px;
line-height: 25px;}.date_f{line-height: 36px;}
.list_f li{padding-bottom: 10px;border-bottom: 1px dashed #E5E5E5;}